$blue: #5fc1e8;
$blue-light: #cfecff;

$light-gray: #f2f2f2;
$medium-gray: #dcdcdc;
$dark-gray: #8d8d8f;
$black: #272727;
$white: #fff;

$global-font-size: rem-calc(16);
$font-family: 'Montserrat', sans-serif;