---
layout: single
---
{% assign filtered-rules = site.rules | where: "rule_category", page.rule_category %}
{% for rule in filtered-rules %}
    {% assign full_rule_id = site.default_rule_prefix | append: rule.rule_id  %}
    {% if rule.custom_prefix != nil  %}
        {% assign full_rule_id = rule.custom_prefix | append: rule.rule_id  %}
    {% endif %}
    <h3 id="{{ full_rule_id }}">{{ rule.title }} ({{ full_rule_id }}) <img src="/assets/images/{{ rule.severity }}.png" /></h3>
    {{ rule.content }}
{% endfor %}